.lenguajes {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contenido-lenguajes {
  position: relative;
  width: 200px;
  height: 200px;
  margin: 10px;

  -webkit-box-shadow: 1px 2px 5px -1px rgba(92,90,92,1);
  -moz-box-shadow: 1px 2px 5px -1px rgba(92,90,92,1);
  box-shadow: 1px 2px 5px -1px rgba(92,90,92,1);
}

.img-lenguajes {
  display: block;
}

.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: rgba(71, 142, 170, 0.93);
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .8s ease;
}

.contenido-lenguajes:hover .overlay {
  bottom: 0;
  height: 100%;
}

.text-lenguajes {
  width: 100%;
  color: white;
  font-size: 20px;
  text-align: center;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

/** ZONA PERFIL **/

.perfil {
  margin: auto;
  margin-top: 80px;
  width: 50%;
  border: 2px solid rgba(71, 142, 170, 0.93);
  padding: 10px;
  display: table;

  -webkit-box-shadow: 3px 2px 15px -1px rgba(166,166,166,1);
  -moz-box-shadow: 3px 2px 15px -1px rgba(166,166,166,1);
  box-shadow: 3px 2px 15px -1px rgba(166,166,166,1);
}

.img-avatar {
  margin: 10px;
  margin-right: 25px;
  height: 100%;
  width: 65px;
  display: table-cell;
  border-radius: 200px 200px 200px 200px;
  -moz-border-radius: 200px 200px 200px 200px;
  -webkit-border-radius: 200px 200px 200px 200px;
}

.description {
  display: table-cell;
  padding-right: 30px;
  text-align: justify;
  vertical-align: middle;
  font-size: 0.9em;
}
