a{
  color: white;
}

nav>ul{
	list-style: none;
	margin: 0;
	padding: 90px;
}

nav>ul>li{
	background-color: #0288D1;
	border: 1px outset #B3E5FC;
	cursor: pointer;
	display: inline-block;
	padding: 2px;
	width: 150px;
}

nav>ul>li:hover{
	box-shadow: 1px 2px 5px #B3E5FC;
	transform: scale(1.01,1.01);
}